html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

#content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#side-menu {
  flex: 1;
  padding: 10px 5px 5px 10px;
}

#side-menu > section {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#main {
  flex: 4;
  padding: 10px 10px 5px 5px;
  display: flex;
  flex-direction: col;
}

header {
  background: linear-gradient(45deg, #0798ab99, transparent);
}

#header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #ffffff;
}

h1 {
  margin: 0%;
}

header h2 {
  margin: 0%;
}

.page {
  display: none;
  background-color: #ffffff;
  margin: 0 0 10px 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 24px;
  flex: 1;
}

label {
  color: darkred;
}

#job-title {
  color: darkred;
}

li.favorite {
  font-weight: bold;
  color: green;
}

#skills ul li span {
  font-weight: 200;
  color: gray;
}

#top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  padding: 10px;
  margin: 0%;
  padding-inline-start: 0%;
}

#top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#top-menu-bar a {
  text-decoration: none;
  padding: 5px 15px;
  color: #fff;
  display: inline-block;
  border-radius: 0.2em;

  transition: 0.2s;
}

#top-menu-bar a:visited {
  color: #fff;
}

#top-menu-bar a.active,
#top-menu-bar a:hover {
  color: #334455;
  background-color: #fff;
}

#languages table {
  width: 50%;
  min-width: 330px;
  border-collapse: collapse;
}

#languages table th,
#languages table td {
  border: 1px solid #0798ab;
  padding: 5px;
}
#languages table th {
  background-color: rgb(135, 217, 238);
}

footer {
  padding: 10px 10px 8px 10px;
  background: #0798ab99;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

footer .item {
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

footer a {
  text-decoration: none;
  padding: 2px 5px;
  border-radius: 0.2em;
  transition: 0.5s;
}

footer a:hover {
  background-color: #0798ab;
}
